.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.5;
}

.modal {
  background-color: @baseColorLight;
  
  .modal-header {
    background-color: #808080;
    border: 0px;
    min-height: 27px;
    
    h3 {
      margin-bottom: 0px;
    }
  }

  .modal-body {
    * {
      font-family: 'Verdana';
      font-size: 13px;
      line-height: 20px;
    }
  
    a {
      color: @linkColor;
      &:hover {
        color: @linkColorHover;
      }
    }
    
    .description {
        code {
            background-color: #F0F0F0;
            color: purple;
            padding: 1px;
            border: 1px solid #C0C0C0;
        }
        ul {
            margin: 0 0 5px;
            li {
                display: list-item;
                list-style-type: disc;
                margin-left: 30px;
            }
        }
    }
    
  }

  .modal-footer {
    background-color: @baseColorLight;
    border: 0px;
    box-shadow: none;
  }

}

