/**
 * Common colors
 **/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.alert {
  font-size: 10.5px;
}
.alert.error, .alert.success, .alert.info {
  color: #ffffff;
}
.alert.alert-error {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert.alert-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert.alert-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
body {
  background-color: #404040;
  margin: 0 50px 0 50px;
  font-size: 14px;
  font-family: 'Verdana';
  color: #000000;
  padding-top: 80px;
}
body h1 {
  color: #ffffff;
}
body pre {
  background-color: #ffffff;
}
body h3 {
  margin-top: 0px;
  margin-bottom: 30px;
}
body h3 .label {
  float: none;
}
body .alert {
  line-height: 14px;
}
body a {
  color: #000000;
  outline: none;
  text-decoration: none;
}
body a.jenkins {
  border-bottom: 1px dashed #000000;
  background-image: url(../../images/jenkins.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}
body a.jenkins:hover {
  border-bottom: 1px solid #000000;
}
body a:hover, body a:focus {
  text-decoration: none;
  color: #000000;
  outline: none;
}
body li {
  list-style-type: none;
  padding: 0px;
  line-height: 14px;
}
body ol, body ul {
  margin: 0px;
}
body ul {
  padding: 0px;
}
body ul.build-parameters {
  margin: 0px;
  padding: 0px;
  font-size: 8.4px;
}
body ul.build-parameters li {
  margin: 0px;
  padding: 0px;
  width: auto;
}
body .error-container {
  background-color: #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 50px;
  padding: 50px;
}
body .error-container h3 {
  font-weight: bold;
  font-size: 1.5em;
}
body .error-container h3 img {
  margin-right: 20px;
}
body .error-container .informations dt, body .error-container .informations dd {
  padding: 10px 0;
}
body .error-container .informations dt {
  width: 200px;
  float: left;
  font-weight: bold;
}
body .error-container .informations a {
  border-bottom: 1px dashed #000000;
}
body .error-container .informations a:hover {
  border-bottom: 1px solid #000000;
}
body form {
  background-color: #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body form .form-header {
  font-weight: bold;
  background-color: #808080;
  padding: 10px 20px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
body form .form-content {
  padding: 20px;
}
body form .form-footer {
  clear: both;
  padding: 10px 20px;
  text-align: right;
}
body form .field {
  padding-top: 10px;
}
body form .field input {
  width: 250px;
}
body .error_list {
  float: left;
  margin-right: 15px;
}
body .error_list li {
  font-weight: bold;
  color: #9d261d;
}
body .navbar .container {
  width: 100%;
}
body .navbar .container h1 {
  margin-left: 20px;
}
body .navbar .container .nav .btn-delayed {
  height: 100%;
  margin-top: 0px;
  padding: 0px;
  text-align: left;
}
body .navbar .container .nav .btn-delayed.active > a {
  background-color: rgba(0, 0, 0, 0.2);
}
body .navbar .container .nav .btn-delayed > a {
  color: #ffffff;
  background-image: url(../../images/fatcow/clock_go.png);
  background-repeat: no-repeat;
  background-position: 40px center;
  width: 65px;
}
body .navbar .container .nav .btn-delayed > a:hover {
  background-image: url(../../images/fatcow/clock_go.png);
}
body .navbar a.settings {
  background-image: url(../../images/fatcow/setting_tools.png);
  background-repeat: no-repeat;
  background-position: 15px center;
  text-indent: -10000px;
  width: 40px;
}
body #sfWebDebugBar {
  bottom: 0;
  right: 0;
  top: auto;
}
.jenkins-status {
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  font-size: 10.5px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 80px;
  float: left;
}
.jenkins-status.important {
  background-color: #9d261d;
}
.jenkins-status.warning {
  background-color: #f89406;
}
.jenkins-status.success {
  background-color: #46a546;
}
.jenkins-status.notice {
  background-color: #049cdb;
}
.jenkins-status.waiting {
  background-color: #808080;
}
.jenkins-status.aborted {
  background-color: #7a43b6;
}
.jenkins-status.delayed {
  background-color: #e8dd33;
}
.jenkins-status.black {
  background-color: #000000;
}
body form.login {
  display: block;
  margin: 0 auto;
  width: 500px;
}
body .sidebar {
  float: left;
  width: 300px;
}
body .sidebar ul li .label {
  width: auto;
  float: none;
  display: block;
  line-height: 16px;
}
body .sidebar ul li:hover a.delete-group-run, body .sidebar ul li:hover a.duplicate-group-run {
  display: block;
}
body .sidebar ul li a.group-run, body .sidebar ul li a.add-run {
  display: block;
  margin-bottom: 2px;
  margin-right: 2px;
  background-color: #bfbfbf;
  min-height: 18px;
  padding: 10px;
  padding-top: 14px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body .sidebar ul li a.group-run:hover, body .sidebar ul li a.add-run:hover {
  background-color: #ffffff;
}
body .sidebar ul li a.group-run.active, body .sidebar ul li a.add-run.active {
  background-color: #808080;
  margin-right: 0px;
}
body .sidebar ul li a.group-run.active a, body .sidebar ul li a.add-run.active a {
  color: #ffffff;
}
body .sidebar ul li a.add-run {
  background-image: url(../../images/fatcow/add.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  height: 32px;
  text-indent: 42px;
}
body .sidebar ul li a.add-run.disabled {
  background-image: url(../../images/fatcow/add_disabled.png);
}
body .sidebar ul li a.delete-group-run, body .sidebar ul li a.duplicate-group-run {
  display: none;
  background-repeat: no-repeat;
  background-position: 10px center;
  height: 16px;
  width: 32px;
  float: right;
}
body .sidebar ul li a.delete-group-run {
  background-image: url(../../images/fatcow/delete.png);
  margin-top: -22px;
}
body .sidebar ul li a.duplicate-group-run {
  background-image: url(../../images/fatcow/page_copy.png);
  margin-top: -44px;
}
body .content {
  float: left;
  background-color: #808080;
  width: 850px;
  min-height: 600px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .content ul {
  padding: 20px;
  clear: left;
}
body .content ul li {
  width: 770px;
  background-color: #bfbfbf;
  margin-bottom: 10px;
  padding: 15px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body .content ul li .run-infos td {
  width: 100px;
}
body .content ul li .run-infos td.name {
  width: 235px;
}
body .content ul li .run-infos td.name ul.build-parameters {
  margin: 0px;
  padding: 0px;
}
body .content ul li .run-infos td.name ul.build-parameters li {
  margin: 0px;
  padding: 0px;
  width: auto;
}
body .content ul li .run-infos td.infos {
  width: 250px;
  font-size: 9.799999999999999px;
}
body .content ul li .run-infos td.job-progress {
  width: 150px;
}
body .content ul li .run-infos td.job-progress .progress {
  margin-bottom: 0px;
}
body .content ul li .run-infos td.bouton,
body .content ul li.group_run_infos span.bouton
{
  width: 35px;
}
body .content ul li .run-infos td.bouton a,
body .content ul li.group_run_infos span.bouton a {
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  height: 32px;
  width: 32px;
  overflow: hidden;
  text-indent: -1000px;
}
body .content ul li .run-infos td.bouton a.run-again,
body .content ul li.group_run_infos span.bouton a.run-again
{
  background-image: url(../../images/update.png);
}

body .content ul li.group_run_infos span.bouton a {
  float: right;
}

body .content ul li .run-infos td.bouton a.cancel {
  background-image: url(../../images/fatcow/cancel.png);
}
body .content ul li.group_run_infos {
  background-color: #ffffff;
}
body .content ul li.add-build {
  height: 32px;
  padding: 0px;
  width: 810px;
  height: 50px;
}
body .content ul li.add-build a {
  background-image: url(../../images/fatcow/add.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  padding: 15px 20px;
  text-indent: 34px;
}
body .content ul li.add-build a.disabled {
  background-image: url(../../images/fatcow/add_disabled.png);
}
body form label {
  width: 200px;
  float: left;
}
body form#groupRunForm .jenkins-view {
  margin-top: 7px;
  margin-bottom: 0px;
  float: none;
}
body form#groupRunForm .cart {
  float: right;
}
body form#groupRunForm .cart a {
  text-align: left;
  color: #ffffff;
  background-image: url(../../images/fatcow/cart.png);
  background-repeat: no-repeat;
  background-position: 40px center;
  width: 50px;
}
body form#groupRunForm .cart a:hover {
  background-image: url(../../images/fatcow/cart_go.png);
}
body form#groupRunForm .jobs-container {
  border: 1px solid #ddd;
  border-top: 0px;
  float: left;
  width: 100%;
}
body form#groupRunForm .jobs-container .actions {
  margin: 2px 10px;
}
body form#groupRunForm .jobs-container .jobs {
  font-size: 10.5px;
  margin: 2px 10px;
  background-color: #ffffff;
  border: 1px solid #808080;
  padding: 6px 20px;
  width: 25%;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body form#groupRunForm .jobs-container .jobs label, body form#groupRunForm .jobs-container .jobs input {
  line-height: 14px;
  font-size: 10.5px;
}
body form#groupRunForm .jobs-container .jobs input, body form#groupRunForm .jobs-container .jobs select {
  height: 20px;
  padding: 0px 4px ;
}
body form#groupRunForm .jobs-container .jobs input option, body form#groupRunForm .jobs-container .jobs select option {
  padding: 0px 4px ;
}
body form#groupRunForm .jobs-container .jobs .parameters {
  padding-left: 20px;
}
body form#groupRunForm .jobs-container .jobs .parameters label {
  width: 180px;
}
body form#groupRunForm .jobs-container .jobs .parameters select {
  width: auto;
}
body #addBuildForm .form-header .label {
  float: none;
}
body #addBuildForm .parameters li {
  display: none;
  margin-left: 50px;
}
body #addBuildForm .parameters select {
  width: auto;
}
body form#delayedForm .delayed-runs {
  margin: 20px 0 0 20px;
}
body form#delayedForm .delayed-runs li.delayed-run {
  background-color: #ffffff;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 18px;
  list-style-type: decimal;
}
body form#delayedForm .delayed-runs li.delayed-run input {
  float: left;
}
body form#delayedForm .delayed-runs li.delayed-run .build-parameters li {
  list-style-type: none;
}
body form#delayedForm .delayed-runs li.delayed-run:hover {
  cursor: move;
}
